vendor-prefixes ?= webkit official // @stylint ignore

@import 'nib'

// Fonts
@font-face
  font-family 'Oxygen'
  font-style normal
  font-weight 400
  src url(/fonts/oxygen.woff) format('woff')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face
  font-family 'Oxygen'
  font-style bold
  font-weight 700
  src url(/fonts/oxygen-bold.woff) format('woff')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

// Defaults
body
  background-color #36393e
  font-family 'Oxygen', sans-serif

.main
  left 0
  position absolute
  top 0
  width 500px

// Title
$text_color = white
.title
  color $text_color
  font-weight bold
  line-height .5
  text-align center

  h2
    display inline-block
    position relative

  lines()
    border-top 1px solid white
    content ''
    position absolute
    top 5px
    width 200px

  h2:before
    lines()
  h2:after
    lines()

  h2:before
    margin-right 15px
    right 100%

  h2:after
    left 100%
    margin-left 15px

.banner
  align-items center
  color $text_color
  display flex
  justify-content space-between

.champ
  align-items center
  color $text_color
  display flex
  padding-left 10px

  .name
    font-size 18px
    font-weight bold

  ul
    list-style-type none
    margin 0
    padding 0
  li
    font-size 12px
    line-height 18px
    padding-left 5px
    padding-right 5px
  img
    flex-grow 0
    flex-shrink 0
    height 60px
    width 60px

.logo
  padding-top 2px

// Items
.items
  align-content stretch
  display flex
  flex-direction column wrap
  flex-wrap wrap
  padding-left 25px
  position relative

.item
  align-items center
  color $text_color
  display flex
  margin 2px
  position relative
  width 220px

  .name
    font-size 14px
    font-weight bold

  .position
    color #BEBFC1
    font-size 13px
    font-style italic

  ul
    list-style-type none
    margin 0
    padding 0
  li
    font-size 12px
    line-height 18px
    padding-left 5px
    padding-right 5px
  img
    border 1px solid #a2762f
    flex-grow 0
    flex-shrink 0
    height 40px
    width 40px
