vendor-prefixes ?= webkit official // @stylint ignore

@import 'nib'

// Fonts
@font-face
  font-family 'Oxygen'
  font-style normal
  font-weight 400
  src url(/fonts/oxygen.woff) format('woff')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face
  font-family 'Oxygen'
  font-style bold
  font-weight 700
  src url(/fonts/oxygen-bold.woff) format('woff')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

// Defaults
body
  background-color green
  font-family 'Oxygen', sans-serif

$text_color = white
$max_width = 750px
.main
  background-color #36393e
  left 0
  max-height 400px
  max-width $max_width
  position absolute
  top 0

.banner
  align-items center
  color $text_color
  display flex
  justify-content space-between

.champ
  align-items center
  color $text_color
  display flex
  padding-left 90px
  padding-top 2px

  .name
    font-size 24px
    font-weight bold

  ul
    list-style-type none
    margin 0
    padding 0
  li
    font-size 14px
    line-height 18px
    padding-left 5px
    padding-right 5px
  img
    flex-grow 0
    flex-shrink 0
    height 80px
    width 80px

.logo
  padding-right 60px
  padding-top 2px

.title
  color $text_color
  font-weight bold
  line-height .5
  text-align center

  h2
    display inline-block
    position relative

  lines()
    border-top 1px solid white
    content ''
    position absolute
    top 5px
    width 200px

  h2:before
    lines()
  h2:after
    lines()

  h2:before
    margin-right 15px
    right 100%

  h2:after
    left 100%
    margin-left 15px

.counters
  align-content stretch
  display flex
  flex-direction column wrap
  flex-wrap wrap
  padding-left 25px
  position relative

.counter
  align-items center
  background-color #53575E
  border 1px solid #71757D
  color $text_color
  display flex

  margin 3px
  position relative
  width ($max_width / 4.5)

  .position
    font-size 10px
    left 2px
    position absolute
    text-shadow -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
    top -4px // THis is different depednding on if it's OSX or Linux.

  .name
    font-size 14px
    font-weight bold

  ul
    list-style-type none
    margin 0
    padding 0
  li
    font-size 12px
    line-height 18px
    padding-left 5px
    padding-right 5px
  img
    flex-grow 0
    flex-shrink 0
    height 60px
    width 60px
