vendor-prefixes ?= webkit official // @stylint ignore

@import 'nib'

// Fonts
@font-face
  font-family 'Oxygen'
  font-style normal
  font-weight 400
  src url(/fonts/oxygen.woff) format('woff')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face
  font-family 'Oxygen-Bold'
  font-style normal
  font-weight 400
  src url(/fonts/oxygen-bold.woff) format('woff')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face
  font-family 'Oxygen-Italic'
  font-style normal
  font-weight 400
  src url(/fonts/oxygen-italic.woff) format('woff')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

// Defaults
body
  background-color #36393e
  font-family Oxygen

.main
  height 300px
  left 0
  position absolute
  top 0
  width 500px

// Title
$text_color = white
.title
  color $text_color
  font-family Oxygen-Bold
  line-height .5
  text-align center

  h2
    display inline-block
    position relative

  lines()
    border-top 1px solid white
    content ""
    height 5px
    position absolute
    top 5px
    width 180px

  h2:before
    lines()
  h2:after
    lines()

  h2:before
    margin-right 15px
    right 100%

  h2:after
    left 100%
    margin-left 15px


.banner
  padding-left 10px
  position relative
  top 10px


// Champ
.champ
  color $text_color
  img
    border-radius 40%
    height 80px
    width 80px
  .name
    font-family Oxygen-Bold
    font-size 20px
    left 100px
    position absolute
    top -10px
  .position
    left 100px
    position absolute
    top 14px

// Logo
.logo
  img
    left -50px
    position absolute
    transform: scale(.19)
    top -137px

// Items
$item_left_pos = 60px
$item_width = 210px
$priority_font_size = 13px
$priority_color = #8CA2C8

itemPriority()
  color #CECECE
  font-family Oxygen-Italic
  font-size $priority_font_size
  position absolute
  width $item-width

.items
  color $text_color
  position relative
  
  div
    padding-bottom 5px
  img
    border 1px solid #a2762f
    height 40px
    width 40px

.item-left
  padding-left 10px
  position relative

  img
    left 10px

  .item-priority
    itemPriority()
    left $item_left_pos
    top -2px

  .item-name
    left $item_left_pos
    position absolute
    top -6px
    width $item_width

$item_right_pos = 310px
.item-right
  position relative

  img
    left 260px
    position absolute
    top -44px

  .item-priority
    itemPriority()
    left $item_right_pos
    top -46px

  .item-name
    left $item_right_pos
    position absolute
    top -48px
    width $item_width
