vendor-prefixes ?= webkit official // @stylint ignore

@import 'nib'
@import 'web/styl/ow_defaults'
@import 'web/styl/ow_heroes'


.stats
  display block
  padding-left 10px
  padding-right 10px

.hero-block
  display inline-flex
  width 100%
  margin-bottom 4px
  img
    border .2rem solid #a1a1a1
    border-radius .4rem
    display block
    float left
    height 40px

.hero-progress-container
  width 100%
  background-color rgba(24, 34, 62, .7)
  position relative
  overflow hidden
  padding .3rem
  margin-left 4px
  border-radius .2rem

  .progress
    position absolute
    top 0
    left 0
    right 100%
    bottom 0
    margin .3rem
    border-radius .5rem

  .text-block
    position relative
    align-items center
    display flex
    justify-content space-between
    text-shadow .1rem .2rem .2rem rgba(51, 51, 51, .3)

  .text
    font-size 24px
    margin-top 6px
    margin-left 6px
    margin-right 6px

  .value
    font-style normal
