.ana
  background-color hsl(40, 23%, 74%)
  box-shadow inset 0 .2rem 0 0 hsl(40, 23%, 82%)

.bastion
  background-color hsl(94, 33%, 45%)
  box-shadow inset 0 .2rem 0 0 hsl(94, 33%, 53%)

.doomfist
  background-color hsl(9, 73%, 54%)
  box-shadow inset 0 .2rem 0 0 hsl(9, 73%, 62%)

.dva
  background-color hsl(322, 100%, 75%)
  box-shadow inset 0 .2rem 0 0 hsl(322, 100%, 83%)

.genji
  background-color hsl(89, 99%, 50%)
  box-shadow inset 0 .2rem 0 0 hsl(89, 99%, 58%)

.hanzo
  background-color hsl(51, 34%, 43%)
  box-shadow inset 0 .2rem 0 0 hsl(51, 34%, 51%)

.junkrat
  background-color hsl(41, 92%, 43%)
  box-shadow inset 0 .2rem 0 0 hsl(41, 92%, 51%)

.lucio
  background-color hsl(89, 84%, 53%)
  box-shadow inset 0 .2rem 0 0 hsl(89, 84%, 61%)

.mccree
  background-color hsl(0, 42%, 39%)
  box-shadow inset 0 .2rem 0 0 hsl(0, 42%, 47%)

.mei
  background-color hsl(197, 80%, 78%)
  box-shadow inset 0 .2rem 0 0 hsl(197, 80%, 86%)

.mercy
  background-color hsl(48, 99%, 71%)
  box-shadow inset 0 .2rem 0 0 hsl(48, 99%, 79%)

.moira
  background-color hsl(266, 76%, 46%)
  box-shadow inset 0 .2rem 0 0 hsl(266, 76%, 54%)

.orisa
  background-color hsl(42, 100%, 43%)
  box-shadow inset 0 .2rem 0 0 hsl(42, 100%, 51%)

.pharah
  background-color hsl(214, 76%, 44%)
  box-shadow inset 0 .2rem 0 0 hsl(214, 76%, 52%)

.reaper
  background-color hsl(60, 3%, 15%)
  box-shadow inset 0 .2rem 0 0 hsl(60, 3%, 23%)

.reinhardt
  background-color hsl(16, 14%, 61%)
  box-shadow inset 0 .2rem 0 0 hsl(16, 14%, 69%)

.roadhog
  background-color hsl(24, 37%, 61%)
  box-shadow inset 0 .2rem 0 0 hsl(24, 37%, 69%)

.soldier76
  background-color hsl(225, 39%, 53%)
  box-shadow inset 0 .2rem 0 0 hsl(225, 39%, 61%)

.sombra
  background-color hsl(282, 70%, 36%)
  box-shadow inset 0 .2rem 0 0 hsl(282, 70%, 44%)

.symmetra
  background-color hsl(187, 100%, 68%)
  box-shadow inset 0 .2rem 0 0 hsl(187, 100%, 76%)

.torbjorn
  background-color hsl(23, 100%, 50%)
  box-shadow inset 0 .2rem 0 0 hsl(23, 100%, 58%)

.tracer
  background-color hsl(32, 94%, 54%)
  box-shadow inset 0 .2rem 0 0 hsl(32, 94%, 62%)

.widowmaker
  background-color hsl(240, 28%, 56%)
  box-shadow inset 0 .2rem 0 0 hsl(240, 28%, 64%)

.winston
  background-color hsl(225, 9%, 33%)
  box-shadow inset 0 .2rem 0 0 hsl(225, 9%, 41%)

.zarya
  background-color hsl(335, 86%, 70%)
  box-shadow inset 0 .2rem 0 0 hsl(335, 86%, 78%)

.zenyatta
  background-color hsl(47, 100%, 39%)
  box-shadow inset 0 .2rem 0 0 hsl(47, 100%, 47%)